- unless @company_docs.blank?
  %table.table.table-hover{ role: 'table', 'aria-label': 'Documents Table' }
    %thead
      %th Document Name
      - if can? :manage, Attachment
        %th.pull-center Visibility
        %th.pull-right Manage
    %tbody
      - @company_docs.each do |doc|   
        %tr
          = render partial: 'document_row', locals: {doc: doc}
- else
  %h4
    = "No Documents to Download"
= render partial: "document_modal", locals: {title: "New Document", form_type: "new"}
.doc-form
