%h2
  Policies
- if can? :manage, Policy
  = link_to "Add Policy", new_policy_path, class: 'btn btn-primary mb-5'

  = link_to 'Add Holiday', new_holiday_list_path, class: 'btn btn-primary mb-5'
  .pull-right
    %button{ type: 'button', id: 'policy_show', role: 'button',class: 'btn btn-primary mb-5'} Show All

.form-horizontal#policy_list
  = render partial: 'policy_list', documents: @policies

  .holiday_list
    = link_to 'Holiday List', holiday_lists_path
:css 
  .table td{ border-top: 1px solid white; padding: 0px;}
