- unless @company_docs.blank?
  $('#attachment_list').html("#{j(render 'attachments_list', documents: @company_docs)}");
- unless @policies.blank?
  $('#policy_list').html("#{j(render 'policy_list', documents: @policies)}");
